html, body{
	height: 100%;
	width: 100%;
	background-color: white;
}

#content{
	width: 100%;
	height: 100%;
	display: block;
	padding: 16px;
}

object{
	display: block;
	width: 672px;
	height: 100%;
	margin: auto;
}

div .onto{
	width: 33%;
}

footer{
	padding: 20px;
	text-align:center;
	background-color: #4c5b5c;
	color: white;
}

footer a{
	color:#42f0f0;
}
