html, body{
	height: 100%;
	width: 100%;
	background-color: white;
}

#content{
	width: 100%;
	display: block;
	padding: 16px;
	min-height: 66vh;
}

object{
	display: block;
	width: 672px;
	height: 40vh;
	margin: auto;
}

div .onto{
	width: 33%;
}

footer{
	padding: 20px;
	text-align:center;
	background-color: grey;
	color: white;
}

footer a{
	color:#42f0f0;
}

#footerBtg{
	vertical-align: middle;
	margin-left: 5px;
	font-weight: bold;
}