html, body{
	height: 100%;
	width: 100%;
	background-color: white;
}

#dropdownLangues img{
	height: 18px;
	border-radius: 3px;
}

#content{
	width: 100%;
	display: inline-block;
	padding: 16px;
	min-height: 66vh;
}

.container hr{
	border-top: 3px double grey;
}

object{
	display: block;
}

.object{
	/*border:1px solid;*/
}

object, .object{
	width: 672px;
	height: 40vh;
	margin: auto;

}

div .third{
	width: 30%;
	float: left;
	margin: 0.5%;
}

footer{
	padding: 20px;
	text-align:center;
	background-color: grey;
	color: white;
}

footer a{
	color:#42f0f0;
}

.fileIconDiv{
	width: 100px;
	text-align: center;
	float: left;
}

#footerBtg{
	vertical-align: middle;
	margin-left: 5px;
	font-weight: bold;
}

.ontoTerminologieElement span.refConcept{
	cursor:pointer;
}
